{% extends "base/ubase.html" %}
{% load static %}
{% block content %}
{% if partner.email_confirmed %}

    {% include 'partners/dashboard_content.html' %}


{% else %}

<div class="uk-padding-small container" id="account-setup-container">
    <div class="card uk-padding-small bg-rose" style="margin-top: 100px;padding: 20px;">
        <div class="card-body">
            <div class="uk-text-lead">
                Unverified Email
            </div>
            <p class="uk-text">

                You are seeing this because you have not verified your email address. Kindly click the button below
                to
                resend verification email

            </p>
            <button class="btn btn-primary uk-border-pill action-btn" 
                contenturl="{% url 'partner_resend_activation_code' %}">Resend Email</button>

        </div>


    </div>
    <form class="form" id="account-activate-form" method="POST" action="{% url 'partner_activate_account' %}">

        {% csrf_token %}

        <div class="activate-form-inner">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                    </span>
                </div>
                <input type="text" class="form-control" name="activation_code" id="id_login" required
                    placeholder="6 digit activation code" autofocus="autofocus">

            </div>

        </div>
        <div class="footer text-center">
            <button class="btn btn-primary" type="submit" style="border-radius: 50px;">Activate account</button>
        </div>
    </form>
</div>


<script>

    $("#account-activate-form").submit(function (event) {
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = new FormData(this); //Creates new FormData object
        $.ajax({
            beforeSend: function () {
                showLoadingBar()
            },
            complete: function () {
                hideLoadingBar()

            },
            url: post_url,
            type: request_method,
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,

            success: function (response) {
                if (response.invalid_code) {

                    $('.code-alert').remove()
                    $('.activate-form-inner').append('<div class="uk-text-danger code-alert  uk-animation-fade uk-padding-large uk-text-center">Invalid Code entered</div>')
                    $('#loader-cover').hide()

                }

                else if (response.activated) {
                    $('#loader-cover').hide()


                    $('#notification-modal-inner').empty()
                    $('#notification-modal-inner').append('Account activated')
                    $('.uk-modal-body').css({ 'background-color': 'white', 'color': 'green' })
                    UIkit.modal($('#notification-modal')).show();
                    window.location = "{% url 'partner_dashboard' %}"
                }


            },

            error: function (xhr, status, error) {
                UIkit.notification.closeAll()
                UIkit.notification('Operation not successful. Check your internet connection',)
            }
        });
    });




</script>

{% endif %}

{% endblock content %}