{% extends "base/abase.html" %}
{% load static %}
{% block content %}


<div class="mt-8">


    <div class="p-2 uk-animation-slide-top uk-display-inline-block col-csxx-14 uk-text-center" id=""
        style="box-shadow: none;float: none;">

        <div class="card card-login uk-padding-small shadow-none" id="other_support">
            <div class="card-header">
                CORPORATE PROFILE UPDATE
            </div>
            <form id="profileform" class="form" method="POST"
                action="{% url 'admin_update_member_profile' userid=partner.member_no %}"
                style=" min-height: max-content; max-height: max-content;">

                {% csrf_token %}


                <div class="rounded-pill bg-gradient-indigo p-2 text-left text-white mb-3">
                    <div class="">
                        <i class="fa fa-info-circle " style="color: white;"></i>
                        <span class="p-1">
                            Company Profile
                        </span>
                    </div>
                </div>

                <div class="form-group mb-3">
                    <div class="">
                        <span class="input-group-text border-0 p-0 uk-text-bold">
                            <!-- <i class="material-icons">face</i>  -->
                            Company's name
                        </span>
                    </div>
                    <div
                        class="input-group-merge input-group-alternative border rounded-lg shadow-sm border rounded-lg p-1 shadow-sm">

                        <input type="text" class="form-control height-mx p-2" required name="company_name"
                            id="first_name_id" placeholder="Company name" value="{{partner.company_name}}">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div
                        class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text"> Company logo</span>
                        </div>
                        <input class="previewimage form-control" name="photo"
                            data-jpreview-container="#preview-container" placeholder="Company logo" type="file">

                    </div>
                    <div id="preview-container"
                        class="jpreview-container uk-padding-small col-csxx-14 col-md-6 col-csx-6" style="float: none;">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div
                        class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text p-0">
                                Sector:
                            </span>
                        </div>
                        <div class="col-csxx-x-14">
                            <div class="ui form">
                                <div class="field">
                                    <select class="ui search dropdown" name='sector'>
                                        <option value="{{partner.sector}}" selected>
                                            {% if partner.sector %}{{partner.sector} {% else %} Select sector {% endif %}</option>

                                        <option value="education">Education</option>
                                        <option value="manufacturing">manufacturing</option>
                                        <option value="branding">Branding</option>
                                        <option value="digital marketing">Digital Marketer</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="form-group mb-3">
                            <div
                                class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">
                                <div class="input-group-prepend">

                                    <span class=" input-group-text p-0">
                                        <i class="material-icons">phone</i>
                                    </span>
                                </div>
                                <input type="text" class="form-control height-mx p-2" required name="phone_number"
                                    id="phone_id" placeholder="Active Phone number"
                                    value="{{partner.phone_number}}">
                            </div>
                        </div> -->

                {% include 'partners/contact_details.html' %}


                <div class="rounded-pill bg-gradient-indigo p-2 text-left text-white mb-3">
                    <div class="">
                        <i class="fa fa-user-check " style="color: white;"></i>
                        <span class="p-1">
                            Contact Person
                        </span>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="">
                        <span class="input-group-text border-0 p-0 uk-text-bold">
                            <!-- <i class="material-icons">face</i>  -->
                            Full name
                        </span>
                    </div>
                    <div
                        class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">

                        <input type="text" class="form-control height-mx p-2" required name="contact_person_full_name"
                            id="last_name_id" placeholder="Full name" value="{{partner.contact_person_full_name}}">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div
                        class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">
                        <div class="input-group-prepend">

                            <span class=" input-group-text p-0">
                                <i class="material-icons">phone</i>
                            </span>
                        </div>
                        <input type="text" class="form-control height-mx p-2" required
                            name="contact_person_phone_number" id="phone_id" placeholder="Contact person phone number"
                            value="{{partner.contact_person_phone_number}}">
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div
                        class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">
                        <div class="input-group-prepend">

                            <span class=" input-group-text p-0">
                                <i class="material-icons">email</i>
                            </span>
                        </div>
                        <input type="email" class="form-control height-mx p-2" required name="contact_person_email"
                            id="email_id" placeholder="Email" value="{{partner.contact_person_email}}">
                    </div>
                </div>
                <!-- 
                        <div class="rounded-pill bg-gradient-indigo p-2 text-left text-white mb-3">
                            <div class="">
                                <i class="fa fa-address-book " style="color: white;"></i>
                                <span class="p-1">
                                    Contact Details
                                </span>
                            </div>
                        </div> -->




                <!-- 
                <div class="form-group mb-3">
                    <div
                        class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text p-0">
                            State:
                            </span>
                    </div>

                    
                    <div class="col-csxx-x-14">
                        <select class="ui fluid search dropdown" data-style="btn btn-link" name="state" id="state"
                            class="form-control height-mx p-2" required>
                            <option value="{{partner.state}}" selected="selected">{{partner.state}}</option>
                            <option value='Abia'>Abia</option>
                            <option value='Adamawa'>Adamawa</option>
                            <option value='AkwaIbom'>AkwaIbom</option>
                            <option value='Anambra'>Anambra</option>
                            <option value='Bauchi'>Bauchi</option>
                            <option value='Bayelsa'>Bayelsa</option>
                            <option value='Benue'>Benue</option>
                            <option value='Borno'>Borno</option>
                            <option value='Cross River'>Cross River</option>
                            <option value='Delta'>Delta</option>
                            <option value='Ebonyi'>Ebonyi</option>
                            <option value='Edo'>Edo</option>
                            <option value='Ekiti'>Ekiti</option>
                            <option value='Enugu'>Enugu</option>
                            <option value='Gombe'>Gombe</option>
                            <option value='Imo'>Imo</option>
                            <option value='Jigawa'>Jigawa</option>
                            <option value='Kaduna'>Kaduna</option>
                            <option value='Kano'>Kano</option>
                            <option value='Katsina'>Katsina</option>
                            <option value='Kebbi'>Kebbi</option>
                            <option value='Kogi'>Kogi</option>
                            <option value='Kwara'>Kwara</option>
                            <option value='Lagos'>Lagos</option>
                            <option value='Nasarawa'>Nasarawa</option>
                            <option value='Niger'>Niger</option>
                            <option value='Ogun'>Ogun</option>
                            <option value='Ondo'>Ondo</option>
                            <option value='Osun'>Osun</option>
                            <option value='Oyo'>Oyo</option>
                            <option value='Plateau'>Plateau</option>
                            <option value='Rivers'>Rivers</option>
                            <option value='Sokoto'>Sokoto</option>
                            <option value='Taraba'>Taraba</option>
                            <option value='Yobe'>Yobe</option>
                            <option value='Zamfara'>Zamafara</option>
                            <option value='Abuja'>Abuja</option>
                        </select>
                    </div>

                </div>
                </div>
                <div class="form-group mb-3">
                    <div
                        class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text p-0">
                            LGA:
                            </span>
                    </div>
                    <div class="col-csxx-x-14">
                        <select class="ui fluid search dropdown" data-style="btn btn-link" name="lga" id="lga"
                            class="form-control height-mx p-2" required>
                            <option value="{{partner.lga}}" selected="selected">{{partner.lga}}</option>
                        </select>
                    </div>

                </div>
                </div> -->
                {% include 'partners/other_details.html' %}

                <div class="uk-text-center">
                    <button class="btn btn-primary uk-border-pill" type="submit">Save</button>
                </div>

            </form>

        </div>
    </div>

</div>

<script>
    $("#profileform").submit(function (event) {
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = new FormData(this); //Creates new FormData object
        $.ajax({
            beforeSend: function () {
                $('#loader-cover').show()
            },
            complete: function () {
                $('#loader-cover').hide()

            },
            url: post_url,
            type: request_method,
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,

            success: function (response) {
                if (response.modal_message) {
                    messageModal(response.modal_message, response.heading)

                }

                if (response.modal_content) {
                    contentModal(response.modal_content, response.heading)

                }
                if (response.message) {
                    UIkit.notification.closeAll()
                    UIkit.notification(response.message)
                }
            },
            error: function (xhr, status, error) {
                UIkit.notification.closeAll()
                UIkit.notification('Operation not successful. Check your internet connection',)
            }
        });
    });
    $('.previewimage').jPreview();

    $('.ui.dropdown').dropdown()

    {% include 'custom/lga.js' %}

</script>
{% endblock content %}