<div class="card uk-margin-remove" style="box-shadow: none;border-radius: 0;">
    <div class="card-body p-3">
        <div class="card m-1 shadow-none">
            <div class="card-body p-3">
                <div class="uk-padding-small uk-text-lead uk-text-center">
                    <span class="pr-2" style="font-weight: bold;">User ID </span> {{partner.userid}}

                </div>

            </div>
        </div>   
        <div class="card m-1 border">
            <div class="card-body p-3">
                <div class=" text-capitalize">
                  <span class="pr-2" style="font-weight: bold;">Account:</span> {{partner.account_type}}
                </div>
               </div>
        </div>
        <div class="card m-1 border">
            <div class="card-body p-3">
                <div class=" ">
                    <span class="pr-2" style="font-weight: bold;">Last name:</span>
                    {{request.user.last_name}}
                </div>
            </div>
        </div>
        <div class="card m-1 border">
            <div class="card-body p-3">
                <div class=" ">
                    <span class="pr-2" style="font-weight: bold;">Full name:</span>{{request.user.first_name}}
                    {{request.user.last_name}}
                </div>
            </div>
        </div>
        <div class="card m-1 border">
            <div class="card-body p-3">
                <div class=" ">
                    <div> <span class="pr-2" style="font-weight: bold;"> Email:</span>{{request.user.email}}</div>

                </div>

            </div>
        </div>
        <div class="card m-1 border">
            <div class="card-body p-3">
                <div class="">
                  <span class="pr-2" style="font-weight: bold;">Date of Birth:</span> {{partner.date_of_birth}}
                </div>
               
            </div>
        </div>
        <div class="card m-1 border">
            <div class="card-body p-3">
                <div class=" ">
                    <div> <span class="pr-2" style="font-weight: bold;">Phone number:</span>{{partner.phone_number}}
                    </div>

                </div>

            </div>
        </div>


        <div class="card m-1 border">
            <div class="card-body p-3">
                <div class="text-capitalize">
                   <span class="pr-2" style="font-weight: bold;"> Gender:</span>{{partner.gender}}
                </div>

            </div>
        </div>

        <div class="card m-1 border">
            <div class="card-body p-3">
                <div class=" ">
                    <div><span class="pr-2" style="font-weight: bold;"> Residential
                            Address:</span>{{partner.street_number}},
                        {{partner.street}}, {{partner.city}}, {{partner.state}}, {{partner.country.name}}</div>
                </div>

            </div>
        </div>
        <div class="card m-1 border">
            <div class="card-body p-3">
                <div class=" text-capitalize">
                  <span class="pr-2" style="font-weight: bold;">Marital Status:</span> {{partner.marital_status}}
                </div>
               
            </div>
        </div>
        <div class="card m-1 border">
            <div class="card-body p-3">
                <div class=" ">
                    <div><span class="pr-2" style="font-weight: bold;"> CGCC Membership Status:</span> 
                        {% if partner.is_cgcc_member %} Member {% else %} Not a member {% endif %}</div>
                </div>

            </div>
        </div>
        <div class="card m-1 border">
            <div class="card-body p-3">
                <div class=" text-capitalize">
                  <span class="pr-2" style="font-weight: bold;">Contribution Plan:</span> {{partner.contribution_frequency}}
                </div>
               
            </div>
        </div>
        <div class="card m-1 border">
            <div class="card-body p-3">
                <div class=" text-capitalize">
                  <span class="pr-2" style="font-weight: bold;">Contribution Amount:</span> {{partner.contribution_amount}}
                </div>
               
            </div>
        </div>
        <div class="card m-1 border">
            <div class="card-body p-3">
                <div class=" text-capitalize">
                  <span class="pr-2" style="font-weight: bold;">Preferred Currency:</span> {{partner.currency}}
                </div>
               
            </div>
        </div>
       
    
    </div>
</div>