<div class="row">
    <div class="col">
      <h5 class="card-title text-uppercase text-muted mb-0">Members</h5>
      <span class="h1 font-weight-bold mb-0 text-dark">{{members.count}}</span>
    </div>
        
      
   
  </div>
  <div class="col-csxx-x-14 text-center mt-2 mb-4">
    <div class="mt-3 mb-0  col-cmd-4-e col-csxx-7 col-csx-7 col-css-7 col-csm-5-e  p-1">
      <p class="bg-lighter rounded-pill uk-display-inline-block border text-dark p-1 pr-2 pl-2">
    <span class="text-darker uk-text-bold mr-2"><i class="fa fa-coins  text-success"></i> {{activemembers}}</span>
    <span class="text-nowrap text-dark">Active</span>
      </p>
  </div>

  <div class="mt-3 mb-0  col-cmd-4-e col-csxx-7 col-csx-7 col-css-7 col-csm-5-e  p-1">
    <p class="bg-lighter rounded-pill uk-display-inline-block border text-dark p-1 pr-2 pl-2">
      <span class="text-darker uk-text-bold mr-2"><i class="fa fa-coins  text-primary"></i> {{fairlyactivemembers}}</span>
    <span class="text-nowrap text-dark">F. active</span></p>
    
    </div>
    <div class="mt-3 mb-0  col-cmd-4-e col-csxx-7 col-csx-7 col-css-7 col-csm-5-e  p-1">
      <p class="bg-lighter rounded-pill uk-display-inline-block border text-dark p-1 pr-2 pl-2">
    <span class="text-darker uk-text-bold mr-2"><i class="fa fa-newspaper  text-warning"></i> {{inactivemembers}}</span>
    <span class="text-nowrap text-dark">Inactive</span>
      </p>
    </div>

    <div class="mt-3 mb-0  col-cmd-4-e col-csxx-7 col-csx-7 col-css-7 col-csm-5-e  p-1">
      <p class="bg-lighter rounded-pill uk-display-inline-block border text-dark p-1 pr-2 pl-2">
    <span class="text-darker uk-text-bold mr-2"><i class="fa fa-exclamation-triangle  text-danger"></i> {{domantmembers}}</span>
    <span class="text-nowrap text-dark">Domant</span>
    </p>
  </div>
  
  </div>
    