{% extends "base/abase.html" %}
{% load static %}
{% block content %}

  <div class="card uk-display-inline-block text-center bg-white shadow-sm rounded-lg ">
<div class="card-body p-3 uk-display-inline-block">
        <div id="dynamic-container">
            <form id='filtered_members_form' action="{% url 'admin_message_filtered_members' %}" method="POST">
                {% csrf_token %}

                <ul class="uk-nav uk-dropdown-nav text-left">
                    <li class="">
                        <div class="card m-0 shadow-none">
                            <div class="rounded-pill uk-text-bold row m-0 bg-secondary p-2">

                                <div class="col p-0">Gender</div>
                                <div
                                    class="custom-control custom-radio uk-display-inline-block text-right col mr-0 pr-0 ml-3">
                                    <input class="custom-control-input" type="radio" name="gender" id="gender1"
                                        value="all" checked>
                                    <label class="custom-control-label " for="gender1">ALL</label>
                                </div>

                            </div>
                            <div class="card-body p-2">
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="gender" id="gender2"
                                        value="male">
                                    <label class="custom-control-label " for="gender2">Male</label>
                                </div>
                                <div class="custom-control custom-radio custom-control-inline">
                                    <input class="custom-control-input" type="radio" name="gender" id="gender3"
                                        value="female">
                                    <label class="custom-control-label " for="gender3">Female</label>
                                </div>
                            </div>
                        </div>



                    </li>
                    <li>
                        <div class="card m-0 shadow-none">
                            <div class="rounded-pill uk-text-bold row m-0 bg-secondary p-2">

                                <div class="col p-0">Marital Status</div>
                                <div
                                    class="custom-control custom-radio uk-display-inline-block text-right col mr-0 pr-0 ml-3">
                                    <input class="custom-control-input" type="checkbox"
                                        name="all_marital_status" id="marital_status1" value="all" checked>
                                    <label class="custom-control-label " for="marital_status1">ALL</label>
                                </div>

                            </div>
                            <div class="p-2 card-body">
                                <div class="col-csxx-x-14">
                                    <select class="ui fluid dropdown" data-style="btn btn-link"
                                        name="marital_status" id="marriage_id" class="form-control">
                                        <option value="" selected="selected">
                                            Select
                                        </option>
                                        <option value='single'>Single</option>
                                        <option value='married'>Married</option>
                                        <option value='divorced'>Divorced</option>
                                        <option value='widowed'>Widowed</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card m-0 shadow-none">
                            <div class="rounded-pill uk-text-bold row m-0 bg-secondary p-2">

                                <div class="col p-0">Age Range </div>
                                <div
                                    class="custom-control custom-radio uk-display-inline-block text-right col mr-0 pr-0 ml-3">
                                    <input class="custom-control-input" type="checkbox" name="all_age"
                                        id="all_age" value="all" checked>
                                    <label class="custom-control-label " for="all_age">ALL</label>
                                </div>
                            </div>


                            <div class="card-body p-2">
                                <div class="form-group p-1 m-0 col-csm-7 col-css-7 col-csxx-x-14">
                                    <div class="input-group-prepend mr-2">
                                        <span class="p-0 uk-text-bold mt-1">From</span>
                                    </div>
                                    <div style="width: 100%;"
                                        class="input-group input-group-alternative border  p-1 shadow-sm  border-light  p-1 shadow-sm">

                                        <input type="number" placeholder="Age range" style="height:max-content"
                                            class="form-control age-range  p-1 from" name="start_age_range" />
                                    </div>
                                </div>
                                <div class="form-group p-1 m-0 col-csm-7 col-css-7 col-csxx-x-14">
                                    <div class="input-group-prepend mr-2">
                                        <span class="uk-text-bold mt-1 p-0">To</i></span>
                                    </div>
                                    <div style="width: 100%;"
                                        class="input-group  input-group-alternative p-1 shadow-sm border border-light   p-1 shadow-sm">

                                        <input type="number" placeholder="Age range" style="height:max-content"
                                            class="form-control p-1 age-range to" name="end_age_range" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card m-0 shadow-none">
                            <div class="rounded-pill uk-text-bold row m-0 bg-secondary p-2">

                                <div class="col p-0">Period Joined </div>
                                <div
                                    class="custom-control custom-radio uk-display-inline-block text-right col mr-0 pr-0 ml-3">
                                    <input class="custom-control-input" type="checkbox" name="all_join_period"
                                        id="join_period1" value="all" checked>
                                    <label class="custom-control-label " for="join_period1">ALL</label>
                                </div>

                            </div>
                            <div class="card-body p-2">
                        

                                <div class="form-group p-1 m-0 col-csm-7 col-css-7 col-csxx-x-14">
                                    <div class="input-group-prepend mr-2">
                                        <span class="p-0 uk-text-bold mt-1">From</span>
                                    </div>
                                    <div style="width: 100%;"
                                        class="input-group input-group-alternative border  p-1 shadow-sm  border-light  p-1 shadow-sm">

                                        <input type="date" placeholder="Payment start date"
                                            style="height:max-content" class="form-control date-range  p-1 from"
                                            name="from" />
                                    </div>
                                </div>
                                <div class="form-group p-1 m-0 col-csm-7 col-css-7 col-csxx-x-14">
                                    <div class="input-group-prepend mr-2">
                                        <span class="uk-text-bold mt-1 p-0">To</i></span>
                                    </div>
                                    <div style="width: 100%;"
                                        class="input-group  input-group-alternative p-1 shadow-sm border border-light   p-1 shadow-sm">

                                        <input type="date" placeholder="Payment end date"
                                            style="height:max-content" class="form-control p-1 date-range to"
                                            name="to" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card m-0 shadow-none">
                            <div class="rounded-pill uk-text-bold row m-0 bg-secondary p-2">

                                <div class="col p-0">Country</div>
                                <div
                                    class="custom-control custom-radio uk-display-inline-block text-right col mr-0 pr-0 ml-3">
                                    <input class="custom-control-input" type="checkbox" name="all_country"
                                        id="all_country" value="all" checked>
                                    <label class="custom-control-label " for="all_country">ALL</label>
                                </div>

                            </div>
                            <div class="card-body p-2">  
                                    <div class="col-csxx-x-14">
                                        <div class="ui form">
                                            <div class="field">       
                                              <select class="ui search dropdown"name='country'>
                                                <option >Select Country</option>
                                                <option value="AF">Afghanistan</option>
                                                <option value="AX">Åland Islands</option>
                                                <option value="AL">Albania</option>
                                                <option value="DZ">Algeria</option>
                                                <option value="AS">American Samoa</option>
                                                <option value="AD">Andorra</option>
                                                <option value="AO">Angola</option>
                                                <option value="AI">Anguilla</option>
                                                <option value="AQ">Antarctica</option>
                                                <option value="AG">Antigua and Barbuda</option>
                                                <option value="AR">Argentina</option>
                                                <option value="AM">Armenia</option>
                                                <option value="AW">Aruba</option>
                                                <option value="AU">Australia</option>
                                                <option value="AT">Austria</option>
                                                <option value="AZ">Azerbaijan</option>
                                                <option value="BS">Bahamas</option>
                                                <option value="BH">Bahrain</option>
                                                <option value="BD">Bangladesh</option>
                                                <option value="BB">Barbados</option>
                                                <option value="BY">Belarus</option>
                                                <option value="BE">Belgium</option>
                                                <option value="BZ">Belize</option>
                                                <option value="BJ">Benin</option>
                                                <option value="BM">Bermuda</option>
                                                <option value="BT">Bhutan</option>
                                                <option value="BO">Bolivia, Plurinational State of</option>
                                                <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                                <option value="BA">Bosnia and Herzegovina</option>
                                                <option value="BW">Botswana</option>
                                                <option value="BV">Bouvet Island</option>
                                                <option value="BR">Brazil</option>
                                                <option value="IO">British Indian Ocean Territory</option>
                                                <option value="BN">Brunei Darussalam</option>
                                                <option value="BG">Bulgaria</option>
                                                <option value="BF">Burkina Faso</option>
                                                <option value="BI">Burundi</option>
                                                <option value="KH">Cambodia</option>
                                                <option value="CM">Cameroon</option>
                                                <option value="CA">Canada</option>
                                                <option value="CV">Cape Verde</option>
                                                <option value="KY">Cayman Islands</option>
                                                <option value="CF">Central African Republic</option>
                                                <option value="TD">Chad</option>
                                                <option value="CL">Chile</option>
                                                <option value="CN">China</option>
                                                <option value="CX">Christmas Island</option>
                                                <option value="CC">Cocos (Keeling) Islands</option>
                                                <option value="CO">Colombia</option>
                                                <option value="KM">Comoros</option>
                                                <option value="CG">Congo</option>
                                                <option value="CD">Congo, the Democratic Republic of the</option>
                                                <option value="CK">Cook Islands</option>
                                                <option value="CR">Costa Rica</option>
                                                <option value="CI">Côte d'Ivoire</option>
                                                <option value="HR">Croatia</option>
                                                <option value="CU">Cuba</option>
                                                <option value="CW">Curaçao</option>
                                                <option value="CY">Cyprus</option>
                                                <option value="CZ">Czech Republic</option>
                                                <option value="DK">Denmark</option>
                                                <option value="DJ">Djibouti</option>
                                                <option value="DM">Dominica</option>
                                                <option value="DO">Dominican Republic</option>
                                                <option value="EC">Ecuador</option>
                                                <option value="EG">Egypt</option>
                                                <option value="SV">El Salvador</option>
                                                <option value="GQ">Equatorial Guinea</option>
                                                <option value="ER">Eritrea</option>
                                                <option value="EE">Estonia</option>
                                                <option value="ET">Ethiopia</option>
                                                <option value="FK">Falkland Islands (Malvinas)</option>
                                                <option value="FO">Faroe Islands</option>
                                                <option value="FJ">Fiji</option>
                                                <option value="FI">Finland</option>
                                                <option value="FR">France</option>
                                                <option value="GF">French Guiana</option>
                                                <option value="PF">French Polynesia</option>
                                                <option value="TF">French Southern Territories</option>
                                                <option value="GA">Gabon</option>
                                                <option value="GM">Gambia</option>
                                                <option value="GE">Georgia</option>
                                                <option value="DE">Germany</option>
                                                <option value="GH">Ghana</option>
                                                <option value="GI">Gibraltar</option>
                                                <option value="GR">Greece</option>
                                                <option value="GL">Greenland</option>
                                                <option value="GD">Grenada</option>
                                                <option value="GP">Guadeloupe</option>
                                                <option value="GU">Guam</option>
                                                <option value="GT">Guatemala</option>
                                                <option value="GG">Guernsey</option>
                                                <option value="GN">Guinea</option>
                                                <option value="GW">Guinea-Bissau</option>
                                                <option value="GY">Guyana</option>
                                                <option value="HT">Haiti</option>
                                                <option value="HM">Heard Island and McDonald Islands</option>
                                                <option value="VA">Holy See (Vatican City State)</option>
                                                <option value="HN">Honduras</option>
                                                <option value="HK">Hong Kong</option>
                                                <option value="HU">Hungary</option>
                                                <option value="IS">Iceland</option>
                                                <option value="IN">India</option>
                                                <option value="ID">Indonesia</option>
                                                <option value="IR">Iran, Islamic Republic of</option>
                                                <option value="IQ">Iraq</option>
                                                <option value="IE">Ireland</option>
                                                <option value="IM">Isle of Man</option>
                                                <option value="IL">Israel</option>
                                                <option value="IT">Italy</option>
                                                <option value="JM">Jamaica</option>
                                                <option value="JP">Japan</option>
                                                <option value="JE">Jersey</option>
                                                <option value="JO">Jordan</option>
                                                <option value="KZ">Kazakhstan</option>
                                                <option value="KE">Kenya</option>
                                                <option value="KI">Kiribati</option>
                                                <option value="KP">Korea, Democratic People's Republic of</option>
                                                <option value="KR">Korea, Republic of</option>
                                                <option value="KW">Kuwait</option>
                                                <option value="KG">Kyrgyzstan</option>
                                                <option value="LA">Lao People's Democratic Republic</option>
                                                <option value="LV">Latvia</option>
                                                <option value="LB">Lebanon</option>
                                                <option value="LS">Lesotho</option>
                                                <option value="LR">Liberia</option>
                                                <option value="LY">Libya</option>
                                                <option value="LI">Liechtenstein</option>
                                                <option value="LT">Lithuania</option>
                                                <option value="LU">Luxembourg</option>
                                                <option value="MO">Macao</option>
                                                <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                                <option value="MG">Madagascar</option>
                                                <option value="MW">Malawi</option>
                                                <option value="MY">Malaysia</option>
                                                <option value="MV">Maldives</option>
                                                <option value="ML">Mali</option>
                                                <option value="MT">Malta</option>
                                                <option value="MH">Marshall Islands</option>
                                                <option value="MQ">Martinique</option>
                                                <option value="MR">Mauritania</option>
                                                <option value="MU">Mauritius</option>
                                                <option value="YT">Mayotte</option>
                                                <option value="MX">Mexico</option>
                                                <option value="FM">Micronesia, Federated States of</option>
                                                <option value="MD">Moldova, Republic of</option>
                                                <option value="MC">Monaco</option>
                                                <option value="MN">Mongolia</option>
                                                <option value="ME">Montenegro</option>
                                                <option value="MS">Montserrat</option>
                                                <option value="MA">Morocco</option>
                                                <option value="MZ">Mozambique</option>
                                                <option value="MM">Myanmar</option>
                                                <option value="NA">Namibia</option>
                                                <option value="NR">Nauru</option>
                                                <option value="NP">Nepal</option>
                                                <option value="NL">Netherlands</option>
                                                <option value="NC">New Caledonia</option>
                                                <option value="NZ">New Zealand</option>
                                                <option value="NI">Nicaragua</option>
                                                <option value="NE">Niger</option>
                                                <option value="NG">Nigeria</option>
                                                <option value="NU">Niue</option>
                                                <option value="NF">Norfolk Island</option>
                                                <option value="MP">Northern Mariana Islands</option>
                                                <option value="NO">Norway</option>
                                                <option value="OM">Oman</option>
                                                <option value="PK">Pakistan</option>
                                                <option value="PW">Palau</option>
                                                <option value="PS">Palestinian Territory, Occupied</option>
                                                <option value="PA">Panama</option>
                                                <option value="PG">Papua New Guinea</option>
                                                <option value="PY">Paraguay</option>
                                                <option value="PE">Peru</option>
                                                <option value="PH">Philippines</option>
                                                <option value="PN">Pitcairn</option>
                                                <option value="PL">Poland</option>
                                                <option value="PT">Portugal</option>
                                                <option value="PR">Puerto Rico</option>
                                                <option value="QA">Qatar</option>
                                                <option value="RE">Réunion</option>
                                                <option value="RO">Romania</option>
                                                <option value="RU">Russian Federation</option>
                                                <option value="RW">Rwanda</option>
                                                <option value="BL">Saint Barthélemy</option>
                                                <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                                <option value="KN">Saint Kitts and Nevis</option>
                                                <option value="LC">Saint Lucia</option>
                                                <option value="MF">Saint Martin (French part)</option>
                                                <option value="PM">Saint Pierre and Miquelon</option>
                                                <option value="VC">Saint Vincent and the Grenadines</option>
                                                <option value="WS">Samoa</option>
                                                <option value="SM">San Marino</option>
                                                <option value="ST">Sao Tome and Principe</option>
                                                <option value="SA">Saudi Arabia</option>
                                                <option value="SN">Senegal</option>
                                                <option value="RS">Serbia</option>
                                                <option value="SC">Seychelles</option>
                                                <option value="SL">Sierra Leone</option>
                                                <option value="SG">Singapore</option>
                                                <option value="SX">Sint Maarten (Dutch part)</option>
                                                <option value="SK">Slovakia</option>
                                                <option value="SI">Slovenia</option>
                                                <option value="SB">Solomon Islands</option>
                                                <option value="SO">Somalia</option>
                                                <option value="ZA">South Africa</option>
                                                <option value="GS">South Georgia and the South Sandwich Islands</option>
                                                <option value="SS">South Sudan</option>
                                                <option value="ES">Spain</option>
                                                <option value="LK">Sri Lanka</option>
                                                <option value="SD">Sudan</option>
                                                <option value="SR">Suriname</option>
                                                <option value="SJ">Svalbard and Jan Mayen</option>
                                                <option value="SZ">Swaziland</option>
                                                <option value="SE">Sweden</option>
                                                <option value="CH">Switzerland</option>
                                                <option value="SY">Syrian Arab Republic</option>
                                                <option value="TW">Taiwan, Province of China</option>
                                                <option value="TJ">Tajikistan</option>
                                                <option value="TZ">Tanzania, United Republic of</option>
                                                <option value="TH">Thailand</option>
                                                <option value="TL">Timor-Leste</option>
                                                <option value="TG">Togo</option>
                                                <option value="TK">Tokelau</option>
                                                <option value="TO">Tonga</option>
                                                <option value="TT">Trinidad and Tobago</option>
                                                <option value="TN">Tunisia</option>
                                                <option value="TR">Turkey</option>
                                                <option value="TM">Turkmenistan</option>
                                                <option value="TC">Turks and Caicos Islands</option>
                                                <option value="TV">Tuvalu</option>
                                                <option value="UG">Uganda</option>
                                                <option value="UA">Ukraine</option>
                                                <option value="AE">United Arab Emirates</option>
                                                <option value="GB">United Kingdom</option>
                                                <option value="US">United States</option>
                                                <option value="UM">United States Minor Outlying Islands</option>
                                                <option value="UY">Uruguay</option>
                                                <option value="UZ">Uzbekistan</option>
                                                <option value="VU">Vanuatu</option>
                                                <option value="VE">Venezuela, Bolivarian Republic of</option>
                                                <option value="VN">Viet Nam</option>
                                                <option value="VG">Virgin Islands, British</option>
                                                <option value="VI">Virgin Islands, U.S.</option>
                                                <option value="WF">Wallis and Futuna</option>
                                                <option value="EH">Western Sahara</option>
                                                <option value="YE">Yemen</option>
                                                <option value="ZM">Zambia</option>
                                                <option value="ZW">Zimbabwe</option>
                                              </select>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                              
                           </div>

                    </li>
                    <li>
                        <div class="card m-0 shadow-none">
                            <div class="rounded-pill uk-text-bold row m-0 bg-secondary p-2">

                                <div class="col p-0">Account Type</div>
                                <div
                                    class="custom-control custom-radio uk-display-inline-block text-right col mr-0 pr-0 ml-3">
                                    <input class="custom-control-input" type="checkbox"
                                        name="all_account_type" id="all_account_type" value="all" checked>
                                    <label class="custom-control-label " for="all_account_type">ALL</label>
                                </div>

                            </div>
                            <div class="p-2 card-body">
                                <div class="col-csxx-x-14">
                                    <select class="ui fluid dropdown" data-style="btn btn-link"
                                        name="account_type" id="account_type" class="form-control">
                                        <option value="" selected="selected">
                                            Select
                                        </option>
                                        <option value='individual'>Individual</option>
                                        <option value='corporate'>Corporate</option>
                                        <option value='sponsor'>Sponsor</option>
                                        <option value='couple'>Couple</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card m-0 shadow-none">
                            <div class="card-header uk-text-bold row m-0 bg-secondary p-2">

                                <div class="col p-0">Status</div>
                                <div
                                    class="custom-control custom-radio uk-display-inline-block text-right col mr-0 pr-0 ml-3">
                                    <input class="custom-control-input" type="checkbox"
                                        name="all_status" id="allstatus" value="all" checked>
                                    <label class="custom-control-label " for="allstatus">ALL</label>
                                </div>

                            </div>
                            <div class="p-2 card-body">
                                <div class="col-csxx-x-14">
                                    <select class="ui fluid dropdown" data-style="btn btn-link"
                                        name="status" id="status" class="form-control">
                                        <option value="" selected="selected">
                                            Select
                                        </option>
                                        <option value='active'>Active</option>
                                        <option value='fairlyactive'>Fairly Active</option>
                                        <option value='inactive'>Inactive</option>
                                        <option value='domant'>Domant</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="card m-0 shadow-none">
                            <div class="rounded-pill uk-text-bold row m-0 bg-secondary p-2">

                                <div class="col p-0">Message</div>
                               
                            </div>
                            <div class="card-body p-2"> 
                                <div class="form-group">
                                    <input class="form-control" placeholder="Subject" id="subject" type="text" name="subject">
                                  </div>
                            <div class="form-group">
                              <textarea class="form-control" id="message" rows="3" name="message"></textarea>
                            </div>
                            </div>
                            </div>
                  
                  
                   
                    </li>
                </ul>
                <button class="btn btn-info m-0 mt-2  rounded-pill" type="submit"> <i
                        class="fa fa-paper-plane mr-2"></i>SEND</button>

            </form>
        </div>
    </div>
  </div>
    
<!-- <div class="fixed-bottom text-right">

    <a class=" uk-icon-button bg-blue p-4 mt--6 mr-2"
        onclick="requestContentModal('{% url 'admin_member_signup' %}','get')">
        <i class="fa fa-user-plus text-white"></i></a>
</div> -->

<script>

    
  tinymce.init({
    selector: 'textarea#message',
    height: 250,
    menubar: false,
    plugins: [
      'advlist autolink lists link image charmap print preview anchor',
      'searchreplace visualblocks code fullscreen',
      'insertdatetime media table paste code help wordcount'
    ],
    toolbar: 'undo redo | formatselect | ' +
      'bold italic backcolor | alignleft aligncenter ' +
      'alignright alignjustify | bullist numlist outdent indent | ' +
      'removeformat | help',
    content_style: 'body { font-family:Helvetica,Arial,sans-serif; font-size:14px }'
  });

 $("#filtered_members_form").submit(function (event) {
        event.preventDefault(); //prevent default action 
        tinymceIframe = $('#message_ifr')
    tinymceContent = tinymceIframe.contents().find("body#tinymce").html()
    $('textarea#message').val(tinymceContent)
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = new FormData(this); //Creates new FormData object
        $.ajax({
            beforeSend: function () {
                $('#loader-cover').show()
            },
            complete: function () {
                $('#loader-cover').hide()

            },
            url: post_url,
            type: request_method,
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,

            success: function (response) {

                if (response.modal_message) {
            messageModal(response.modal_message, response.heading)

          }
            },
            error: function (xhr, status, error) {
                // UIkit.notification.closeAll()
                // UIkit.notification('Operation not successful. Check your internet connection',)
            }
        });
    });

</script>
{% endblock content %}