{% extends "base/abase.html" %}
{% load static %}
{% block content %}


<div class="mt-9">
<div class="uk-border-circle bg-gradient-red uk-position-top-center"
    style="height: 70px;width: 70px;margin-top: -20px;border: 4px solid white;">
    <i class="fa fa-user-edit fa-2x uk-position-center" style="color: white;">
    </i>

</div>

<div class="p-2 mt-6  uk-display-inline-block col-csxx-14 uk-text-center overflow-hidden" id=""
    style="box-shadow: none;float: none;">

<div class="card card-login uk-animation-slide-top shadow-none" id="other_support">
<div class="card-header">
SPONSOR PROFILE UPDATE
</div>
    <form id="profileform" class="form" method="POST" enctype="multipart/form-data" action="{% url 'admin_update_member_profile' userid=partner.userid %}"
        style=" min-height: max-content; max-height: max-content;">

        {% csrf_token %}

        <div class="card-body P-0">

            <div class="card uk-margin-small-top shadow-none">
              
                <div class="card-body ">
                    <div class="rounded-pill bg-gradient-indigo p-2 text-left text-white mb-3">
                        <div class="">
                            <i class="fa fa-info-circle " style="color: white;"></i>
                            <span class="p-1">
                                Personal Data
                            </span>
                        </div>
                    </div>

                    <div class="form-group mb-3">
                        <div
                            class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text uk-text-bold">
                                    <!-- <i class="material-icons">face</i>  -->
                                    First name
                                </span>
                            </div>
                            <input type="text" class="form-control" required name="first_name" id="first_name_id"
                                placeholder="Your First name" value="{{partner.user.first_name}}">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div
                            class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text uk-text-bold">
                                    Last name
                                </span>
                            </div>
                            <input type="text" class="form-control" required name="last_name" id="last_name_id"
                                placeholder="Your Last name" value="{{partner.user.last_name}}">
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <div
                            class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                    <i class="icon calendar alternate"></i> Date of Birth
                                </span>
                            </div>
                            <input type="date" class="form-control" required name="date_of_birth" id="dob_id"
                                placeholder="Date of birth" value="{{partner.date_of_birth|date:'Y-m-d'}}">
                        </div>
                    </div>
                    {% include 'partners/gender.html' %}
                     
                    {% include 'partners/marital_status.html' %}
                    <div class="form-group mb-3">
                        <div class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">
                          <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fa fa-image mr-2"></i> Profile Picture</span>
                          </div>
                          <input class="previewimage form-control" name="photo" data-jpreview-container="#preview-container"
                            placeholder="profile picture" type="file">
            
                        </div>
                        <div id="preview-container" class="jpreview-container uk-padding-small col-csxx-14 col-md-6 col-csx-6"
                          style="float: none;">
                        </div>
                      </div>
              

                <div class="rounded-pill bg-gradient-indigo p-2 text-left text-white mb-3">
                    <div class="">
                        <i class="fa fa-address-book " style="color: white;"></i>
                        <span class="p-1">
                            Contact Details
                        </span>
                    </div>
                </div>
                {% include 'partners/contact_details.html' %}

                <!-- <div class="form-group mb-3">
                    <div
                        class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                            Landmark:
                        </span>
                    </div>
                    <input type="text" placeholder="e.g Hospitals, Schools, Petrol Stating, Churches"
                        class="form-control col-csxx-x-14" name="landmark" required id="id_landmark"
                        value="{{partner.landmark}}">
                </div>
                </div> -->
                <!-- <div class="form-group mb-3">
                    <div
                        class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                            Nearest Bus-stop:
                        </span>
                    </div>
                    <input type="text" placeholder="e.g Hospitals, Schools, Petrol Stating, Churches"
                        class="form-control col-csxx-x-14" name="busstop" required id="id_busstop"
                        value="{{partner.nearest_bus_stop}}">
                </div>
                </div> -->
              

<!-- 
                <div class="form-group mb-3">
                    <div
                        class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                            State:
                            </span>
                    </div>

                    
                    <div class="col-csxx-x-14">
                        <select class="ui fluid search dropdown" data-style="btn btn-link" name="state" id="state"
                            class="form-control" required>
                            <option value="{{partner.state}}" selected="selected">{{partner.state}}</option>
                            <option value='Abia'>Abia</option>
                            <option value='Adamawa'>Adamawa</option>
                            <option value='AkwaIbom'>AkwaIbom</option>
                            <option value='Anambra'>Anambra</option>
                            <option value='Bauchi'>Bauchi</option>
                            <option value='Bayelsa'>Bayelsa</option>
                            <option value='Benue'>Benue</option>
                            <option value='Borno'>Borno</option>
                            <option value='Cross River'>Cross River</option>
                            <option value='Delta'>Delta</option>
                            <option value='Ebonyi'>Ebonyi</option>
                            <option value='Edo'>Edo</option>
                            <option value='Ekiti'>Ekiti</option>
                            <option value='Enugu'>Enugu</option>
                            <option value='Gombe'>Gombe</option>
                            <option value='Imo'>Imo</option>
                            <option value='Jigawa'>Jigawa</option>
                            <option value='Kaduna'>Kaduna</option>
                            <option value='Kano'>Kano</option>
                            <option value='Katsina'>Katsina</option>
                            <option value='Kebbi'>Kebbi</option>
                            <option value='Kogi'>Kogi</option>
                            <option value='Kwara'>Kwara</option>
                            <option value='Lagos'>Lagos</option>
                            <option value='Nasarawa'>Nasarawa</option>
                            <option value='Niger'>Niger</option>
                            <option value='Ogun'>Ogun</option>
                            <option value='Ondo'>Ondo</option>
                            <option value='Osun'>Osun</option>
                            <option value='Oyo'>Oyo</option>
                            <option value='Plateau'>Plateau</option>
                            <option value='Rivers'>Rivers</option>
                            <option value='Sokoto'>Sokoto</option>
                            <option value='Taraba'>Taraba</option>
                            <option value='Yobe'>Yobe</option>
                            <option value='Zamfara'>Zamafara</option>
                            <option value='Abuja'>Abuja</option>
                        </select>
                    </div>

                </div>
                </div>
                <div class="form-group mb-3">
                    <div
                        class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                            LGA:
                            </span>
                    </div>
                    <div class="col-csxx-x-14">
                        <select class="ui fluid search dropdown" data-style="btn btn-link" name="lga" id="lga"
                            class="form-control" required>
                            <option value="{{partner.lga}}" selected="selected">{{partner.lga}}</option>
                        </select>
                    </div>

                </div>
                </div> -->
                {% include 'partners/other_details.html' %}

                   
                      <div class="form-group mb-3">
                        <div
                            class="input-group input-group-merge input-group-alternative border rounded-lg p-1 shadow-sm border rounded-lg p-1 shadow-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text">
                            SELECT TV STATION TO SPONSOR:
                            </div>
                        
                        <div class="col-csxx-x-14">
                            <select class="ui fluid dropdown" data-style="btn btn-link" name="tv_station" id="tv_station"
                                class="form-control" required>
                                <option value="{{partner.tv_station}}" selected="selected">
                                    {% if partner.tv_station %} {{partner.tv_station}} {% else %} select {% endif %}
                                </option>
                                {% for tvstation in tvstations %}
                                <option value='{{tvstation.title}}'>{{tvstation.title}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    </div>
                      

                <div class="uk-text-center">
                    <button class="btn btn-primary uk-border-pill" type="submit">Save</button>
                </div>
            </div>
        </div>
        </div>
    </form>

</div>
</div>

</div>

<script>
    $("#profileform").submit(function (event) {
        event.preventDefault(); //prevent default action 
        var post_url = $(this).attr("action"); //get form action url
        var request_method = $(this).attr("method"); //get form GET/POST method
        var form_data = new FormData(this); //Creates new FormData object
        $.ajax({
            beforeSend: function () {
                $('#loader-cover').show()
            },
            complete: function () {
                $('#loader-cover').hide()

            },
            url: post_url,
            type: request_method,
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,

            success: function (response) {
                if (response.modal_message) {
            messageModal(response.modal_message, response.heading)

          }

          if (response.modal_content) {
            contentModal(response.modal_content, response.heading)

          }
          if (response.message) {
                UIkit.notification.closeAll()
                UIkit.notification(response.message)
              }
            },
            error: function (xhr, status, error) {
                UIkit.notification.closeAll()
                UIkit.notification('Operation not successful. Check your internet connection',)
            }
        });
    });
    $('.previewimage').jPreview();

    $('.ui.dropdown').dropdown()

    {% include 'custom/lga.js' %}

</script>
{%  endblock content %}
