<div class="main main-raised uk-margin-large-top uk-box-shadow-medium" style="">
    <div class="container">
        <div class="about-description text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center uk-padding-medium">
                    <h2 class="uk-text-large" style="font-family: arial black;">About Dominion Partners Global (DPG)</h2>
                </div>
            </div>
        </div>
        <div class="about-team team-1 uk-padding-small">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                   
                    <h5 class="description">Dominion Partners Global is a ministry of believers who strongly believe in
                        Dr. Tunde Bakare’s mandate to pray, preach and prophesy till revival comes; to teach men and
                        women, boys and girls that they can win by righteousness; and to proclaim in the nations of the
                        earth His Kingdom, Power and Glory.</h5>
                </div>
            </div>

        </div>
    </div>
</div>