<div class="main col-cmd-14 uk-margin-large-bottom uk-margin-xlarge-top " style="background-color: transparent !important;">
    <div class="uk-text-center">
        <div class="bg-primary uk-margin-small-top uk-padding-medium"
            style="width:max-content;display:inline-block;color: white;">
            FROM KINGDOM STRATEGIES
        </div>
    </div>
    <div class="uk-divider-small uk-margin-remove"></div>

    {% include 'frontend/home_videos.html' %}
    {% include 'frontend/articles.html' %}
</div>